<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ONG_MDH/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /ONG_MDH/index.html [L]
</IfModule>
